body {
    font-family: 'Raleway', sans-serif;
    background: radial-gradient(circle at center, #3b5893, #495D84);
    background: radial-gradient(ellipse at bottom, #1b2735,);
    font-weight: 300;

}

