body {
    font-family: 'Raleway', sans-serif;
    background: radial-gradient(circle at center, #dfe1e6, #e2e6ed);
    background: radial-gradient(ellipse at bottom, #eff4f9, #d5d7e4);
    font-weight: 300;

}

* {
    margin: 0;
    padding: 0;
}
  
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family:'Helvetica Neue', sans-serif;
}

h1 a {
    font-size: 50px;
    color: #3b5893;
    text-decoration: none;
    text-transform: uppercase;
  }
  .popover {
    display: none;
    box-shadow: 0px 6px 8px rgba(40, 36, 36, 0.7);
 }

 .popover:target {
    position: absolute;
    right: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .popover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10px;
    height: 10px;
    color: #fff;
    background-color: #1b2735;
    animation: 1s grow ease forwards;
    text-align: center;
  }

  .nav_list  {
    list-style-type: none;
  }

  .nav_list a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
  }

  .nav_list li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: #BF2E97; 
    transition: all .5s ease;
  }

  .nav_list li:hover:before {
    width: 100%;
}

  .popover p {
    padding: 50px;
    opacity: 0;
    animation: 1s fadeIn ease forwards 1s;
  }


  .popover .close::after {
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    z-index: 1;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    background-color: #1b2735;
    color: #fff;
    content: "x";
    cursor: pointer;
    opacity: 0; 
    animation: 1s fadeIn ease forwards .5s;
  }

  @keyframes grow {
    100% {
      height: 90%;
      width: 90%;
   }
  }


@keyframes fadeIn {
    100% {
      opacity: 1;
     }
    }

    @keyframes slideUp {
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
 